@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .default-container {
    @apply container mx-auto max-w-[1440px];
  }

  .input-field {
    @apply h-10 w-full rounded-md border-2 border-white;
  }

  .inner-input {
    @apply w-full bg-transparent px-5 placeholder:text-white focus-visible:border-none focus-visible:outline-none;
  }

  .btn-submit {
    @apply m-auto h-10 w-4/6 rounded-lg bg-third px-5 text-2xl font-bold text-white drop-shadow-md hover:cursor-pointer;
  }

  .socmed-button {
    @apply flex h-16 flex-row items-center justify-center rounded-lg border border-solid border-grey bg-white p-4 text-center text-black;
  }

  .header-link-button {
    @apply transition-all hover:-translate-y-0.5;
  }

  .home-dots {
    @apply bottom-6;
  }

  .home-dots li {
    @apply h-4 w-4 rounded-full border-2 border-solid border-white;
  }

  .home-dots li button:before {
    @apply text-[0px];
  }

  .home-dots li.slick-active {
    @apply bg-white;
  }

  .category-active {
    @apply -translate-y-1 border-greyCategory transition-all duration-500 ease-in-out;
  }

  .testimony-dots {
    @apply -bottom-12;
  }

  .testimony-dots li {
    @apply h-4 w-4 rounded-full bg-grey transition-all;
  }

  .testimony-dots li button:before {
    @apply text-[0px];
  }

  .testimony-dots li.slick-active {
    @apply w-10 bg-blue;
  }

  .custom-table .ant-table-thead > tr > th {
    background-color: #2b6777;
    color: #ffffff;
  }

  .custom-table .ant-pagination-item-active a {
    background-color: #2b6777 !important;
    color: #ffffff;
  }

  .custom-table .ant-pagination-item-active a:hover {
    background-color: #2b6777 !important;
    color: #ffffff;
  }

  .custom-background {
    background: linear-gradient(
      to right,
      #c8d8e4 0%,
      #c8d8e4 50%,
      #ffffff 50%,
      #ffffff 100%
    );
  }
}
